hello_rust/guessing_game/target/*.*
*.lock
hello_rust/hello_cargo/target/*.*
hello_rust/variables/target/*.*
hello_rust/functions/target/*.*
hello_rust/ownership/target/*.*
hello_rust/references/target/*.*
hello_rust/slices/target/*.*
hello_rust/structures/target/*.*
hello_rust/enums/target/*.*
hello_rust/modules/target/*.*
hello_rust/restaurant/target/*.*
hello_rust/rustre/target/*.*
hello_rust/composing/target/*.*
hello_rust/fun_with_hashes/target/*.*
.vscode/tasks.json
